/* Importing Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    /* Dark Mode Colors */
    --text-color: #E3E3E3;
    --subheading-color: #828282;
    --placeholder-color : #A6A6A6;
    --primary-color: #242424;
    --secondary-color: #383838;
    --secondary-hover-color: #444;
}

.light_mode {
    /* Light Mode Colors */
    --text-color: #222;
    --subheading-color: #A0A0A0;
    --placeholder-color : #6C6C6C;
    --primary-color: #FFF;
    --secondary-color: #E9EEF6;
    --secondary-hover-color: #DBE1EA;
}

body {
    background: var(--primary-color);
}

.header, .typing-area {
    color: var(--text-color);
}

.header, .chat-list .message, .typing-form {
    max-width: 1000px;
    margin : 0 auto;
}

.header {
    margin-top: 7vh;
    padding: 1rem; 
}

body.hide-header .header {
    display: none;
    margin-top: 0;
}

.header :where(.title, .subtitle){
    font-weight: 500;
    line-height: 3.6rem;
}

.header .title {
    font-size: 2.7rem;
    width: fit-content;
    background-clip: text;
    background: linear-gradient(to right, #4285f4, #d96570);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header .subtitle {
    font-size: 2.4rem;
    color: var(--subheading-color);
}
